
  .editor-icon{
    padding:2px;
    margin: 0rem 0.5rem;
    border: 0px solid;
    cursor: pointer;
    background-color: transparent;
    
  }
  h1{
    font-size: 32pt !important;
  }
  h2{
    font-size: 26pt !important;
  }
  h3{
    font-size: 22pt !important;
  }
  .editor > div{
    padding:1rem;
    padding-bottom: 10em;
    margin-top: 0;
    border:1px solid black;
    border-radius: 4px;
  }